{% extends 'base.html.twig' %}

{% block title %}Projet CV Abdel with Symfony{% endblock %}

{% block body %}

    <div class="mt-5     text-center">
        <h1>Curriculum Vitae <i class="fab fa-symfony"></i>Symfony Project </h1>

    </div>

{% endblock %}
